[submodule "source/_posts/notebook"]
	path = source/_posts/notebook
	url = https://github.com/junyiha/notebook.git
	branch = main

[submodule "themes/next"]
	path = themes/next
	url = https://github.com/junyiha/hexo-theme-next.git
	branch = master
